footer(class="footer section")
//- 	.container
//- 		h2(class="subtitle title_text")
//- 			| Связаться
//- 			span.title_text--white 
//- 				| с нами
//- 		div(class="footer__contacts  flex")
//- 			ul.list_list_style_type_none
//- 				li 
//- 					+footer_contact_item("Офис")
//- 						+address
//- 				li 
//- 					+footer_contact_item("E-mail")
//- 						+address
//- 				li 
//- 					+footer_contact_item("Социальные сети")
//- 						+socials
//- 			ul.list_list_style_type_none
//- 				li 
//- 					+footer_contact_item("Режим работы", "Пн-Вт: 1000 — 1900; Сб-Вс: 1000 — 1500")
//- 				li 
//- 					+footer_contact_item("Телефон")
//- 						+tel
//- 			.
//- 				+footer_contact_item("Остались вопросы?")
//- 					+contact_form