
// user-variables.scss
//
$black: #000;
$white: #FFFFFF;
$main_text_color: #222222;
$light_brown: #C6876D;;
$orange-red: #EB5757;
$green: #219653;
$blue: #2F80ED;
$purple: #9B51E0;

$gray-border: 1px solid rgba(34, 34, 34, 0.3);

$font_family_montserrat: 'Montserrat', sans-serif;
$font_family_gilroy: 'Gilroy', sans-serif;

$tablet: '1200px';
$desktop: '1500px';
